<a href="https://colab.research.google.com/github/Nkbh14/Python-Questions/blob/main/Functions_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1) Create a function to calculate the cube of a number that is passed as the argument to the function. 
>Example :
>>def cube(number):
number = 4
cube(number)
>>> 64

In [1]:
def cube(n):
  print(n**3)
cube(4)

64

###2) Create a function to calculate the sum of square of 2 numbers that are defined as the default arguments and its square output is 5.
Example :
def square(n1 = value,n2 = value):
square()
>>> 5

In [2]:
def square(n=1,n1=2):
  print(n**2+n1**2)

square()

5

### 3)Create a function to calculate the factorial of a number which is passed as an argument and assign the output of the function to a variable named out.
Example :
def factorial(number):

out = factorial(5)
out
>>> 120

In [3]:
def factorial(a):
  f=1
  for i in range(1,a+1):
    f=f*i 
  print(f)

out=factorial(5)
out

120

### 4) Correct the syntax of the following function to get the required output.
Note : Make use of all the concepts covered until now.
Example :
def string_concatenation{s1 = 'ai',s2 ,s3 = 3);
    elif s3 == 3;
    s = s1 + s2 * s3
        printf[s,end = '-')
    else;;
    s = s1 + s2 * 1
    
    printf(s,end = '->'\
    
    123string_concat{'adventures']
    
    >>> 'aiadventuresaiadventuresaiadventures'

In [4]:
def string_concatenation(s3,s1='ai', s2=3 ):
  if s2==3:
      s = (s1 + s3) * s2
      print(s,end = '')
  else:
      s = (s1 + s3) * 1
      print(s,end = '')

string_concatenation('adventures')

aiadventuresaiadventuresaiadventures

5) Create a function to calculate the area of triangle or rectangle using 3 arguments : base, height and shape.

Example :

def calculate_area(base, height,shape):

b = 2
h = 6

calculate_area(b,h, 'Rectangle')

>>> 12


calculate_area(b,h, 'Triangle')

>>> 6.0

In [5]:
def area(b,h,shape):
  if shape=='Rectangle':
    print(b*h)
  elif shape=='Triangle':
    print(1/2*b*h)

area(2,6,'Rectangle')
area(2,6,'Triangle')

12
6.0

6) Create a function that returns None value and display the result of the string concatenation. You have to take the 2 strings required for the function as argument as shown in the example given below.
Example :

def none_value_assignment(s1 = input(),s2 = input()):

var1 = none_value_assignment()
type(var1)

>>> result of string concatenation of s1 and s2
>>> NoneType

var2 = none_value_assignment('ai', 'adventures')
type(var2)

>>> aiadventures
>>> NoneType

In [8]:
def none_value_assignment(s1 = input(),s2 = input()):
  w=s1+s2
  print(w)


var1 = none_value_assignment()
type(var1)

ai
adventures
aiadventures

NoneType

7) Create a function to calculate and display the sum of the following sequence by taking input from user for n.

Sequence : 1 + 1/1! + 1/2! + 1/3! + + 1/n!

Hint : Give a thought above factorial() you have just created a few problems back.

def sequence(n):

sequence(5)
>>> 2.7166666666666663

In [9]:
def sequence(n):
  f=1
  s1=1
  for i in range(1,n+1):
    f=f*i
    s1=s1+1/f
  print(s1)

sequence(5)

2.7166666666666663

8) Create a function to check whether a string is pangram or not.

Pangram Definition : It is a sentence containing all 26 letters of the English alphabets.

Example :

def ispangram(sentence):

sentence1 = "a quick brown fox jumps over the lazy dog"
sentence2 = "hello my name is ramesh"

ispangram(sentence1)

>>> True

ispangram(sentence2)

>>> False

In [12]:
def ispangram(sentence):
  s='abcdefghijklmnopqrstuvwxyz'
  for i in s:
    if i not in sentence.lower():
      return False
    
  return True

sentence1 = "a quick brown fox jumps over the lazy dog"
ispangram(sentence1)

True

In [13]:
sentence2 = "hello my name is ramesh"
ispangram(sentence2)

False