<a href="https://colab.research.google.com/github/Nkbh14/Python-Questions/blob/main/List_Practice_Questions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Create a function that will reverse a given list.

Example :

def reverse_list(numbers):
  
list1 = [8, 6, 4, 2, 0]
reverse_list(list1)

>>> [0, 2, 4, 6, 8]

In [2]:
def reverse_list(number):
  l=number.reverse()
  print(number)

list1 = [8, 6, 4, 2, 0]
reverse_list(list1)

[0, 2, 4, 6, 8]

2) Create a function that will display the square of every element of the list provided as an argument.

Example :

def square_list(list_numbers):
   
list2 = [1, 2, 3, 4, 5]
square_list(list2)
>>> 1
    4
    9
    16
    25

In [3]:
def square_list(list):
  for i in list:
    print(i**2)

list2 = [1, 2, 3, 4, 5]
square_list(list2)

1
4
9
16
25

3) Create a function that will take list of fruits and a new_fruit as 2 arguments. Add the new_fruit into the list of fruits and display the updated list. Also, try adding the new_fruit at the index position 2.

Example :

def to_append(fruits, new_fruit):
  ### 
  

fruits = ['banana', 'orange', 'mango', 'lemon']
new_fruit = 'blueberry'

to_append(fruits, new_fruit)

>>> ['banana', 'orange', 'mango', 'lemon', 'blueberry']

to_append(fruits, new_fruit)

>>> ['banana', 'orange','blueberry' ,'mango', 'lemon',]

In [4]:
def to_append(fruits,new_fruit):
  fruits.append(new_fruit)
  print(fruits)

fruits = ['banana', 'orange', 'mango', 'lemon']
new_fruit = 'blueberry'
to_append(fruits, new_fruit)

['banana', 'orange', 'mango', 'lemon', 'blueberry']

4) Create a function that will take a list as an argument and return an updated list after removing empty strings from the list. list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"].

Example :

def remove_spaces(list_names):
    ### your code here

list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"]
remove_spaces(list3)

>>> ['Vivek', 'Ankur', 'aiadventures', 'Pranav']

In [5]:
def remove_spaces(list_name):
  for i in list_name:
    if len(i)<=0:
      list_name.remove(i)
  print(list_name)

list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"]
remove_spaces(list3)

['Vivek', 'Ankur', 'aiadventures', 'Pranav']

5) Create a function that takes 2 lists as arguments and it iterates over both lists simultaneously such that output should display items in original order from 1st list and elements from 2nd list in reverse order.

Note : Please give attention to the output as it doesn't include [] brackets.

Example :

def reverse_list(first, second):
    ### your code here

list4 = [10, 20, 30, 40]
list5 = [100, 200, 300, 400]

reverse_list(list4, list5)
>>> 10 20 30 40 400 300 200 100

In [6]:
def reverse_list(first,second):
  second.reverse()
  print(first+second)

list4 = [10, 20, 30, 40]
list5 = [100, 200, 300, 400]
reverse_list(list4, list5)

[10, 20, 30, 40, 400, 300, 200, 100]

6) Create a function that takes 2 lists as arguments and returns a new single list by performing the string replication between the elements of the lists. The elements should be selected in original order from the 1st list and in reverse order from the 2nd list.

Example :

def multiply_elements(first, second):
    ### your code here

list4 = ['Ai', 'Adventures', 'Python', 'ML']
list5 = [1, 2, 3, 4]

reverse_list(list4, list5)
>>> ['AiAiAiAi', 'AdventuresAdventuresAdventures', 'PythonPython','ML']

In [7]:
def multiply_elements(first, second):
  l=[]
  second.reverse()
  for i in range(len(first)):
    l.append(first[i]*second[i])
  print(l)

list4 = ['Ai', 'Adventures', 'Python', 'ML']
list5 = [1, 2, 3, 4]
multiply_elements(list4, list5)

['AiAiAiAi', 'AdventuresAdventuresAdventures', 'PythonPython', 'ML']

7) We're using lists to record people that attended our party and in the order they arrive in. For example, the following list represents a party with 7 guests, in which Adela showed up first and Ford was the last to arrive:

party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

A guest is considered fashionably late if they arrived after at least half of the party's guests. However, they must not be the very last guest (that's taking it too far). In the above example, Mona and Gilbert are the only guests who were fashionably late.

Create a function which takes a list of party attendees as well as a person as arguments and displays whether that person is fashionably late or not.

Example :

def fashionably_late(arrivals, name):
    ### your code here

party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
fashionably_late(party_attendees, 'Mona')
>>> True
fashionably_late(party_attendees, 'Ford')
>>> False

In [12]:
def fashionably_late(arrivals, name):
  i=arrivals.index(name)
  if i>=(len(arrivals)/2) and i!=len(arrivals)-1:
    return True
  else:
    return False



party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
fashionably_late(party_attendees, 'Mona')

True

In [13]:
fashionably_late(party_attendees, 'Ford')

False

In [15]:
fashionably_late(party_attendees, 'May')

False

8) Create a function that takes 2 lists as arguments. The function should create a new list that contains alternate elements of both the lists and replaces the string elements of the new list with its own length.

Note : Use loops to update the empty lists.

Example :

def list_operations(first, second):
    ### your code here

first = ['Ai', 'Adventures', 'Python']
second = [10, 20, 30]
list_operations(first, second):
>>> 
Elements of the 1st List :  ['Ai', 'Adventures', 'Python']
Elements of the 2nd List :  [10, 20, 30]
List with alternate elements from the above 2 lists :  ['Ai', 10, 'Adventures', 20, 'Python', 30]
Final output list :  [2, 10, 10, 20, 6, 30]

first = ['Jan', 'February', 'March', 72]
second = [10, 20, 30, 'April']
list_operations(first, second):
>>> 
Elements of the 1st List :  ['Jan', 'February', 'March', 72]
Elements of the 2nd List :  [10, 20, 30, 'April']
List with alternate elements from the above 2 lists :  ['Jan', 10, 'February', 20, 'March', 30, 72, 'April']
Final output list :  [3, 10, 8, 20, 5, 30, 72, 5]

In [19]:
def list_operations(first, second):
  l=[]
  for a in first:
    if type(a)==str:
      l.append(len(a))
    else:
      l.append(a)
  m=[]
  for b in second:
    if type(b)==str:
      m.append(len(b))
    else:
      m.append(b)

  for i,j in zip(l,m):
    print(i,j,end=' ')
  # l=[i[j]for j in range(len(first)) for i in[first,second]]

first = ['Ai', 'Adventures', 'Python']
second = [10, 20, 30]

list_operations(first, second)

2 10 10 20 6 30

In [18]:
a=['Jan', 'February', 'March', 72]
b=[10, 20, 30, 'April']

list_operations(a,b)

3 10 8 20 5 30 72 5