<a href="https://colab.research.google.com/github/Nkbh14/Python-Questions/blob/main/Loops_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Create a program to display the first 10 even numbers in reverse order in a single line using end parameter of print function.
> Note : Use both the loops.

In [1]:
for i in range(20,0,-2):
  print(i,end=' ')

20 18 16 14 12 10 8 6 4 2

In [ ]:
i=20
while i>=0:
   print(i, end=' ')
  i-=2

2) Create a program that displays numbers starting from 20 to 40 with a difference of 5 in a single line using end parameter of print function.
> Note : Use both the loops.

In [2]:
for i in range(20,41,5):
  print(i,end=' ')

20 25 30 35 40

In [3]:
i=20
while i<=40:
  print(i, end=' ')
  i+=5

20 25 30 35 40

3) Create a program to display the cube of first 5 numbers in single line using end parameter of print function.
>Note : Use both the loops.

In [4]:
for i in range(1,6):
  print(i**3,end=' ')

1 8 27 64 125

In [5]:
i=1
while i<=5:
  print(i**3,end=' ')
  i+=1

1 8 27 64 125

4) Create a program to display the factorial of a number.
>Note : Use both the loops with positive and negative step values.

In [6]:
n=5
f=1
for i in range(1,n+1):
  f=f*i
print(f)

120

In [7]:
n=5
f=1
i=1
while i<=n:
  f=f*i 
  i+=1
print(f)

120

5) Create a program that keeps on accepting input from user until 0 is entered and print the sum of all the numbers entered at the end.

In [8]:
i=0
while True:
  a=int(input('Enter Value: '))
  i=i+a
  if a==0:
    print(' Total of input is: ',i)
    break

Enter Value: 5
Enter Value: 6
Enter Value: 2
Enter Value: 4
Enter Value: 0
 Total of input is:  17

6) Create a program to print the following series for n terms where n is the number taken from the user.
> Series : 2,22,222,2222,...... n terms

In [29]:
number=int(input('Enter any number here : '))
for i in range (1,n+1):
  print(i*'2' , end=',')

Enter any number here : 8
2,22,222,2222,22222,222222,2222222,22222222,

7) Create a program that displays the first number divisible by 5 between 6 to 16 and then break the loop.
>Note : Use both the loops.

In [30]:
for i in range(6,16):
  if i%5==0:
    print(i)
    break

10

In [32]:
var=6
while var<16 :
  if var%5==0:
    print(var)
    break
  var+=1

10

8) Create a program that replicates the following output :
> Note : Use both the loops.
>> The Multiplication Table of 2
* 2 x 1 = 2
* .
>>The Multiplication Table of 3
* 3 x 1 = 3
* .
>> The Multiplication Table of 4
* 4 x 1 = 4

In [33]:
for a in range(2,5):
  print('The Multiplication Table of ', a)
  for i in range (1,11):
    print(a,'X',i,'=',i*a)

The Multiplication Table of  2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
The Multiplication Table of  3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
The Multiplication Table of  4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40