<a href="https://colab.research.google.com/github/Nkbh14/Python-Questions/blob/main/NikitaPython_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ***Expressions Practice Questions***

In [ ]:
# Add parentheses to the following expression so that it evaluates to 0.
#         8 - 3 * 2 - 1 + 1
8-3*2-(1+1)

0

In [ ]:
# Implement Simple Interest Formula : S.I. = P × R × T
P = 1500
R = 9.5
T = 20
SI=P*R*T/100

SI

2850.0

In [ ]:
# Try to implement Compound Interest Formula : V = P(1+r/n)^nt=
P = 1500
r = 0.043
n = 4
t = 6

V=P*(1+r/n)*n*t
V

36387.0

In [ ]:
# Implement Fahrenheit to Celsius conversion formula : F = ( C x 9 / 5 ) + 32
# C = 253
C=253
F = ( C * 9 / 5 ) + 32
F

487.4

In [ ]:
# Create 2 variables and assign values like name and surname from the user. Then concatenate these 2 variables and display using print function.
name=input()
surname=input()
print(name+surname)

In [ ]:
# Create 2 variables and assign values like birth month and birth year from the user. Display these 2 variables and the length of these variables inside a single print function.
birth_month=input()
birth_year=input()
print('Length of birth month', birth_month,'is', len(birth_month) , 'Length of birth year ', birth_year,'is ', len(birth_year))

In [ ]:
# Create 2 variables and assign values of user's favourite IPL team and any number between 1 - 10. Display the name of this favourite IPL team as many times as the number they pick from 1 - 10.

# Note : Pass the message in the input function for taking information from the user.
IPL_teams=input('Enter your fev IPL team ')
N=int(input('Enter any number between 1-10. '))
print(IPL_teams*N)

In [ ]:
# Create 4 variables and take input from user for information like height, weight, age and a number from 1 - 10. Display the results of true division, floor division and exponentiation of height, 
#weight and age with the number selected from 1 - 10 concatenated together inside a print function respectively.
# Note : Pass the message in the input function for taking information from the user. Hint : Concatenate string \n to display output on new line.

height=int(input('Enter your height'))
weight=int(input('Enter your weight'))
age=int(input('Enter your age'))
N=int(input('Enter any number from 1-10. '))

print('Height true division: '+str(height/N) ,'Floor division: '+str(height//N),'Exponentiation: ' +str(height**N))
print('Weight true division: '+str(weight/N) ,'Floor division: '+str(weight//N),'Exponentiation: ' +str(weight**N))
print('Age true division: '+str(age/N) ,'Floor division: '+str(age//N),'Exponentiation: ' +str(age**N))

In [ ]:
x=[12,34]
str(x)

'[12, 34]'

## ***Flow Control Practice Questions***

In [ ]:
# #Fill in the blanks with the boolean operators in the following code snippet to get the desired output :
# #Code Snippet	Output
# True __ True	True
# ( 1 > 2 ) __ ( 55 < 54)	False
# ( 55 / 2 ) __ True	True
# __ ( 10 > 5 )	False
True or True
( 1 > 2 ) or ( 55 < 54)	
( 55 / 2 ) and True
not ( 10 > 5 )

False

In [ ]:
# Create a program that asks the user to enter the net worth of Mark Zuckerberg and display the specific message as mentioned in the table below according to the input from the user.

# Note : Make sure you enter the appropriate message in input function that assists user in entering the values.

# Note : Do not enter commas when entering the number.

# Net Worth	Display
# = 54500000000	That's 54.5 billion!
# < 54500000000	That's not much!
# > 54500000000	I'll make more when I graduate
net_worth=int(input('Enter the net worth of Mark Zuckerberg: '))
if net_worth==54500000000:
  print("That's 54.5 billion!")
elif net_worth<54500000000:
  print("That's not much!")
else:
  print("I'll make more when I graduate.")

In [ ]:
# Create a program to accept the cost price of a bike and display the total price of the bike including the tax to be paid according to the following criteria :
# Note : Make sure you enter the appropriate message in input function that assists user in entering the values.
# Cost price (in Rs)	Tax
# > 100000	15 %
# > 50000 and <= 100000	10%
# <= 50000	5%

cost_prize_of_bike=int(input('Enter the cost price of bike: '))
if cost_prize_of_bike>10000:
  tax=cost_prize_of_bike*15/100
  print('Tax rate is 15% ' ,tax, 'Total price is ',cost_prize_of_bike+tax)
elif 100000>=cost_prize_of_bike>50000:
  tax=cost_prize_of_bike*10/100
  print('Tax rate is 10% ',tax,'Total price is ', cost_prize_of_bike+tax)
elif cost_prize_of_bike<=50000:
  tax=cost_prize_of_bike*5/100
  Print('Tax rate is 5% ',tax,'Total price is ',cost_prize_of_bike+tax)

In [ ]:
# A student needs to have an attendance of atleast 75% to be allowed to sit for the exams. Create a program to check if the student satisfies this attendance criteria to sit for the exams by taking 2 inputs from the user and display the necessary output message along with the attendance in percentage using the print function.
# Note : Make sure you enter the appropriate message in input function that assists user in entering the values.
# Hint : Take the user inputs for the following :
# Number of classes held
# Number of classes attended.

Number_of_classes_held=int(input('Enter total number of classes held.'))
Number_of_classes_attended=int(input('Enter number of classes attented by student.'))
Attendance_percentage=Number_of_classes_attended/Number_of_classes_held*100
if Attendance_percentage>=75:
  print('You can sit for exam')
else:
  print('You can not sit for the exam')

In [ ]:
# Create a program that displays the wages of worker depending on their age, gender (‘M’, ‘F’) and number of days they work accodring to the criteria mentioned in the table below:
# Note : Make sure you enter the appropriate message in input function that assists user in entering the values.
# >=18 and <30             
#                     M             700 
#                     F             750
# >=30 and <=40            
#                     M             800
#                     F             850
 
Number_of_days=int(input('Enter number of work days: '))
Gender=input('Enter F or M : ')
if 30>Number_of_days>=18:
  if Gender=='M':
    print('Wage is ', Number_of_days*700)
  elif Gender=='F':
    print('Wage is ', Number_of_days*750 )
elif 30<=Number_of_days<=40:
  if Gender=='M':
    print('Wage is ',Number_of_days*800)
  elif Gender=='F':
    print('Wage is ' , Number_of_days*850)

In [ ]:
# Create a program to check if a given year is leap year or not.
# Note : Make sure you enter the appropriate message in input function that assists user in entering the values.
# Note : Google to check all the conditions for a year to be a leap year.
year=int(input('Enter a year here: '))
if year%400==0:
  print('leap year')
elif year%4==0 and year%100!=0:
  print('leap year')
else: 
  print('Not a leap year')

In [ ]:
# Create a program that accepts the number of days from the user and calculates the charge for library according to the following table :
# Note : Make sure you enter the appropriate message in input function that assists user in entering the values.
# Number of Days	Cost / day
# Till 5 days	Rs 2 / day
# 6 to 10 days	Rs 3 / day
# 11 to 15 days	Rs 4 / day
# After 15 days	Rs 5 / day
number_of_days=int(input('Enter number of days'))
if number_of_days<=5:
  print('Rate is Rs 2/ day', ' Total is: ', number_of_days*2)
elif 6<=number_of_days<=10:
  print('Rate is Rs 3/ day', ' Total is: ',number_of_days*3)
elif 11<=number_of_days<=15:
  print('Rate is Rs 4/ day', ' Total is: ',number_of_days*4)
elif number_of_days>15:
  print('Rate is Rs 5/ day', ' Total is: ',number_of_days*5)

In [ ]:
# Create a program that accepts the electric units from user and calculates the bill according to the following rates:
# Note : Make sure you enter the appropriate message in input function that assists user in entering the values.
# Example :
# Number of Unit :550
# Total Bill : 0 +400+1250 = 1650
# Range of Units	Cost / unit
# First 100	Free
# Next 200	Rs 2 / unit
# Above 300	Rs 5 / unit

Electric_unit=int(input('Enter your electric units here:  '))
if Electric_unit<=100:
  print('First 100 units are Free, your Bill amount is: ', 0)
elif 100<=Electric_unit<=200:
  bill=(Electric_unit-100)*2
  print('First 100 units are	Free, Next 200	Rs 2 / unit, your Bill amount is: ',bill)
elif Electric_unit>=300:
  i=(Electric_unit-300)*5
  j=(Electric_unit-(100+(Electric_unit-300)))*2
  print('First 100 units are	Free, Next 200	Rs 2 / unit, Above 300	Rs 5 / unit, your Bill amount is: ',(i+j))

## **Loops Practice Questions***

In [ ]:
# Create a program to display the first 10 even numbers in reverse order in a single line using end parameter of print function.
# Note : Use both the loops.
for i in range(20,0,-2):
  print(i,end=' ')

In [ ]:
i=20
while i>=0:
  
  print(i, end=' ')
  i-=2

In [ ]:
# Create a program that displays numbers starting from 20 to 40 with a difference of 5 in a single line using end parameter of print function.
# Note : Use both the loops.
for i in range(20,41,5):
  print(i,end=' ')

In [ ]:
i=20
while i<=40:
  print(i, end=' ')
  i+=5

In [ ]:
# Create a program to display the cube of first 5 numbers in single line using end parameter of print function.
# Note : Use both the loops.
for i in range(1,6):
  print(i**3,end=' ')

In [ ]:
i=1
while i<=5:
  print(i**3,end=' ')
  i+=1

In [ ]:
# Create a program to display the factorial of a number.
# Note : Use both the loops with positive and negative step values.
n=5
f=1
for i in range(1,n+1):
  f=f*i
print(f)

In [ ]:
n=5
f=1
for i in range(n,1,-1):
  f=f*i
print(f)

In [ ]:
n=5
f=1
i=1
while i<=n:
  f=f*i 
  i+=1
print(f)

In [ ]:
n=1
f=1
i=5
while i>=n:
  f=f*i 
  i-=1
print(f)

In [ ]:
# Create a program that keeps on accepting input from user until 0 is entered and print the sum of all the numbers entered at the end.
i=0
while True:
  a=int(input('Enter Value: '))
  i=i+a
  if a==0:
    print(' Total of input is: ',i)
    break

In [ ]:
# Create a program to print the following series for n terms where n is the number taken from the user.
# Series : 2,22,222,2222,...... n terms
n=int(input('Enter any number here: '))
for i in range (1,n+1):
  print('2'*i, end=',')

Enter any number here: 8
2,22,222,2222,22222,222222,2222222,22222222,

In [ ]:
# Create a program that displays the first number divisible by 5 between 6 to 16 and then break the loop.
# Note : Use both the loops.
for i in range(6,16):
  if i%5==0:
    print(i)
    break

In [ ]:
# Create a program that replicates the following output :
# Note : Use both the loops.
# The Multiplication Table of 2
# 2 x 1 = 2
# .
# The Multiplication Table of 3
# 3 x 1 = 3
# .
# The Multiplication Table of 4
# 4 x 1 = 4
for a in range(2,5):
  print('The Multiplication Table of ', a)
  for i in range (1,11):
    print(a,'X',i,'=',i*a)

## **Functions Practice Questions**

In [ ]:
# Create a function to calculate the cube of a number that is passed as the argument to the function.
# Example :
# def cube(number):
#     ### your code here
# number = 4
# cube(number)
# >>> 64
def cube(n):
  print(n**3)

cube(4)

64

In [ ]:
# Create a function to calculate the sum of square of 2 numbers that are defined as the default arguments and its square output is 5.
# Example :
# def square(n1 = value,n2 = value):
#     ### your code here
# square()
# >>> 5

def square(n=1,n1=2):
  print(n**2+n1**2)


square()

5

In [ ]:
# Create a function to calculate the factorial of a number which is passed as an argument and assign the output of the function to a variable named out.
# Example :
# def factorial(number):
#     ### your code here
# out = factorial(5)
# out
# >>> 120

def factorial(a):
  f=1
  for i in range(1,a+1):
    f=f*i 
  print(f)

out=factorial(5)
out

120

In [ ]:
# Correct the syntax of the following function to get the required output.
# Note : Make use of all the concepts covered until now.
# Example :
# defn 123string_concatenation{s1 = 'ai',s2 ,s3 = 3);
#     elif s3 == 3;
#     s = s1 + s2 * s3
#         printf[s,end = '-')
#     else;;
#     s = s1 + s2 * 1
#     printf(s,end = '->'\
#     123string_concat{'adventures']
#     >>> 'aiadventuresaiadventuresaiadventures'

def string_concatenation(s3,s1='ai', s2=3 ):
  if s2==3:
      s = (s1 + s3) * s2
      print(s,end = '')
  else:
      s = (s1 + s3) * 1
      print(s,end = '')

string_concatenation('adventures')

aiadventuresaiadventuresaiadventures

In [ ]:
# Create a function to calculate the area of triangle or rectangle using 3 arguments : base, height and shape.
# Example :
# def calculate_area(base, height,shape):
#     ### your code here
# b = 2
# h = 6
# calculate_area(b,h, 'Rectangle')
# >>> 12
# calculate_area(b,h, 'Triangle')
# >>> 6.0

def area(b,h,shape):
  if shape=='Rectangle':
    print(b*h)
  elif shape=='Triangle':
    print(1/2*b*h)

area(2,6,'Rectangle')
area(2,6,'Triangle')

12
6.0

In [ ]:
# Create a function that returns None value and display the result of the string concatenation. 
#You have to take the 2 strings required for the function as argument as shown in the example given below.
# Example :
# def none_value_assignment(s1 = input(),s2 = input()):
#     ### your code here
# var1 = none_value_assignment()
# type(var1)
# >>> result of string concatenation of s1 and s2
# >>> NoneType
# var2 = none_value_assignment('ai', 'adventures')
# type(var2)
# >>> aiadventures
# >>> NoneType

def none_value_assignment(s1 = input(),s2 = input()):
  w=s1+s2
  print(w)

var1 = none_value_assignment()
type(var1)
# >>> result of string concatenation of s1 and s2
# >>> NoneType
var2 = none_value_assignment('ai', 'adventures')
type(var2)
# >>> aiadventures
# >>> NoneType

In [ ]:
# Create a function to calculate and display the sum of the following sequence by taking input from user for n.
# Sequence : 1 + 1/1! + 1/2! + 1/3! + + 1/n!
# Hint : Give a thought above factorial() you have just created a few problems back.
# def sequence(n):
#     ### your code here
# sequence(5)
# >>> 2.7166666666666663

def sequence(n):
  f=1
  s1=1
  for i in range(1,n+1):
    f=f*i
    s1=s1+1/f
  print(s1)

sequence(5)
# >>> 2.7166666666666663

In [ ]:
#Sequence : 1 + 1/1! + 1/2! + 1/3! + + 1/n!
# Hint : Give a thought above factorial() you have just created a few problems back.
f=1
n=5
s=1
for i in range(1,n+1):
  f=f*i
  s=s+1/f
print(s)

In [ ]:
# Create a function to check whether a string is pangram or not.
# Pangram Definition : It is a sentence containing all 26 letters of the English alphabets.
# Example :
# def ispangram(sentence):
#     ### your code here
# sentence1 = "a quick brown fox jumps over the lazy dog"
# sentence2 = "hello my name is ramesh"
# ispangram(sentence1)
# >>> True
# ispangram(sentence2)
# >>> False
def ispangram(sentence):
  s='abcdefghijklmnopqrstuvwxyz'
  for i in s:
    if i not in sentence.lower():
      return False
    
  return True

sentence1 = "a quick brown fox jumps over the lazy dog"
ispangram(sentence1)

In [ ]:
sentence2 = "hello my name is ramesh"
ispangram(sentence2)

## **Lists Practice Questions**

In [ ]:
# Create a function that will reverse a given list.
# Example :
# def reverse_list(numbers):
#     ### your code here
# list1 = [8, 6, 4, 2, 0]
# reverse_list(list1)
# >>> [0, 2, 4, 6, 8]
def reverse_list(number):
  l=number.reverse()
  print(number)

list1 = [8, 6, 4, 2, 0]
reverse_list(list1)

In [ ]:
# Create a function that will display the square of every element of the list provided as an argument.
# Example :
# def square_list(list_numbers):
#     ### your code here
# list2 = [1, 2, 3, 4, 5]
# square_list(list2)
# >>> 1
#     4
#     9
#     16
#     25
def square_list(list):
  for i in list:
    print(i**2)

list2 = [1, 2, 3, 4, 5]
square_list(list2)

In [ ]:
# Create a function that will take list of fruits and a new_fruit as 2 arguments. Add the new_fruit into the list of fruits and display the updated list. Also, try adding the new_fruit at the index position 2.
# Example :
# def to_append(fruits, new_fruit):
#  ### your code here
# fruits = ['banana', 'orange', 'mango', 'lemon']
# new_fruit = 'blueberry'
# to_append(fruits, new_fruit)
# >>> ['banana', 'orange', 'mango', 'lemon', 'blueberry']
# to_append(fruits, new_fruit)
# >>> ['banana', 'orange','blueberry' ,'mango', 'lemon',]

def to_append(fruits,new_fruit):
  fruits.append(new_fruit)
  print(fruits)

fruits = ['banana', 'orange', 'mango', 'lemon']
new_fruit = 'blueberry'
to_append(fruits, new_fruit)

In [ ]:
# Create a function that will take a list as an argument and return an updated list after removing empty strings from the list. list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"].
# Example :
# def remove_spaces(list_names):
#     ### your code here
# list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"]
# remove_spaces(list3)
# >>> ['Vivek', 'Ankur', 'aiadventures', 'Pranav']
def remove_spaces(list_name):
  for i in list_name:
    if len(i)<=0:
      list_name.remove(i)
  print(list_name)

list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"]
remove_spaces(list3)

['Vivek', 'Ankur', 'aiadventures', 'Pranav']

In [ ]:
# Create a function that takes 2 lists as arguments and it iterates over both lists simultaneously such that output should display items in original order from 1st list and elements from 2nd list in reverse order.
# Note : Please give attention to the output as it doesn't include [] brackets.
# Example :
# def reverse_list(first, second):
#     ### your code here
# list4 = [10, 20, 30, 40]
# list5 = [100, 200, 300, 400]
# reverse_list(list4, list5)
# >>> 10 20 30 40 400 300 200 100

def reverse_list(first,second):
  second.reverse()
  print(first+second)



list4 = [10, 20, 30, 40]
list5 = [100, 200, 300, 400]
reverse_list(list4, list5)

In [ ]:
# Create a function that takes 2 lists as arguments and returns a new single list by performing the string replication between the elements of the lists. The elements should be selected in original order from the 1st list and in reverse order from the 2nd list.
# Example :
# def multiply_elements(first, second):
#     ### your code here
# list4 = ['Ai', 'Adventures', 'Python', 'ML']
# list5 = [1, 2, 3, 4]
# reverse_list(list4, list5)
# >>> ['AiAiAiAi', 'AdventuresAdventuresAdventures', 'PythonPython','ML']

def multiply_elements(first, second):
  l=[]
  second.reverse()
  for i in range(len(first)):
    l.append(first[i]*second[i])
  print(l)

list4 = ['Ai', 'Adventures', 'Python', 'ML']
list5 = [1, 2, 3, 4]
multiply_elements(list4, list5)

In [ ]:
# We're using lists to record people that attended our party and in the order they arrive in. 
#For example, the following list represents a party with 7 guests, in which Adela showed up first and Ford was the last to arrive:
# party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
# A guest is considered fashionably late if they arrived after at least half of the party's guests. 
#However, they must not be the very last guest (that's taking it too far). 
#In the above example, Mona and Gilbert are the only guests who were fashionably late.
# Create a function which takes a list of party attendees as well as a person as arguments and displays whether that person is fashionably late or not.
# Example :
# def fashionably_late(arrivals, name):
#     ### your code here
# party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
# fashionably_late(party_attendees, 'Mona')
# >>> True
# fashionably_late(party_attendees, 'Ford')
# >>> False

def fashionably_late(arrivals, name):
  i=arrivals.index(name)
  if i>=(len(arrivals)//2) and i!=len(arrivals)-1:
    return True
  else:
    return False



party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
fashionably_late(party_attendees, 'Mona')

In [ ]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
def fashionably_late(arrivals,name):

  i=arrivals.index(name)
  if i>=len(arrivals)//2 and i!=arrivals.index('Ford'):
    return True
  else:
    return False
fashionably_late(party_attendees, 'Ford')

In [ ]:
# Create a function that takes 2 lists as arguments. The function should create a new list that contains alternate elements of both the lists and replaces the string elements of the new list with its own length.
# Note : Use loops to update the empty lists.
# Example :
# def list_operations(first, second):
#     ### your code here
# first = ['Ai', 'Adventures', 'Python']
# second = [10, 20, 30]
# list_operations(first, second):
# >>> 
# Elements of the 1st List :  ['Ai', 'Adventures', 'Python']
# Elements of the 2nd List :  [10, 20, 30]
# List with alternate elements from the above 2 lists :  ['Ai', 10, 'Adventures', 20, 'Python', 30]
# Final output list :  [2, 10, 10, 20, 6, 30]
# first = ['Jan', 'February', 'March', 72]
# second = [10, 20, 30, 'April']
# list_operations(first, second):
# >>> 
# Elements of the 1st List :  ['Jan', 'February', 'March', 72]
# Elements of the 2nd List :  [10, 20, 30, 'April']
# List with alternate elements from the above 2 lists :  ['Jan', 10, 'February', 20, 'March', 30, 72, 'April']
# Final output list :  [3, 10, 8, 20, 5, 30, 72, 5]

def list_operations(first, second):
  l=[]
  for a in first:
    if type(a)==str:
      l.append(len(a))
    else:
      l.append(a)
  m=[]
  for b in second:
    if type(b)==str:
      m.append(len(b))
    else:
      m.append(b)


  for i,j in zip(l,m):
    print(i,j,end=' ')
  # l=[i[j]for j in range(len(first)) for i in[first,second]]

first = ['Ai', 'Adventures', 'Python']
second = [10, 20, 30]
# Final output list :  [2, 10, 10, 20, 6, 30]


list_operations(first, second)

In [ ]:
a=['Jan', 'February', 'March', 72]
b=[10, 20, 30, 'April']

# Final output list :  [3, 10, 8, 20, 5, 30, 72, 5]

list_operations(a,b)

In [ ]:
def list_operations(a,b):
    f=[]
    s=[]
    final=[]
    for i in range(len (a)):
      if type(a[i])==str:
        f.append(len(a[i]))
      else:
        f.append(a[i])

      if type(b[i])==str:
        s.append(len(b[i]))
      else:
        s.append(b[i])

    for i in range(len(f)):
      final.append(f[i])
      final.append(s[i])
    return final

In [ ]:
a=['Jan', 'February', 'March', 72]
b=[10, 20, 30, 'April']
list_operations(a,b)

[3, 10, 8, 20, 5, 30, 72, 5]

## Other Data Structures Questions

In [ ]:
# Create a dictionary named student and it should contain your Name, Gender, Age & Programming language. 
#After creating it add a new key Roll number and set its value as 43.
student={'Name':'Ram','Gender':'male','Age':21,'programming_language':'Python'}
student['Roll_number']=43
student

In [ ]:
# Create a function to display how many times substring A has appeared in the string ABRACADABRA.
# Example :
# def match_string(string,substring):
#     ### your code here
# string = 'ABRACADABRA'
# substring = 'A'
# match_string(string,substring)
# >>> 5
l=[]
def match_string(string,substring):
  for x in string:
    if x in substring:
      l.append(x)
  print(len(l))
    
string = 'ABRACADABRA'
substring = 'A'
match_string(string,substring)
# >>> 5

In [ ]:
# Create a function that takes 2 dictionaries as arguments and returns the total bill after selling every fruit according to their rate specified.
# Example :
# def total_bill(first, second):
#     ### your code here
# stock = {"banana": 6, "apple": 0, "orange": 32, "pear": 15}
# prices = {"banana": 4, "apple": 2, "orange": 1.5, "pear": 3}
# total_bill(stock, prices)
# >>> 117.0

def total_bill(first, second):
  s=[]
  p=[]
  for i in first.values():
    s.append(i)
  for j in second.values():
    p.append(j)

  b=[]
  for x in range(len(s)):
    b.append(s[x]*p[x])

  n=0
  for a in b:
    n=n+a
  print(n)
  
stock = {"banana": 6, "apple": 0, "orange": 32, "pear": 15}
prices = {"banana": 4, "apple": 2, "orange": 1.5, "pear": 3}
total_bill(stock, prices)

In [ ]:
# Create a dictionary by assigning the keys from a list and its values from the user using input function.
# List :
# keys_list = [ "Name", "Birth Month", "Programming Language", "Salary" ]
# Example :
# def create_dict(keys_list):
#     ### your code here
#     sampleDict = {}
# keys_list = [ "Name", "Birth Month", "Programming Language", "Salary" ]
# create_dict(keys_list)
# >>>
def create_dict(key_list):
  dic={}
  for i in key_list:
    dic[i]=input()
  print(dic)

keys_list = [ "Name", "Birth Month", "Programming Language", "Salary" ]
create_dict(keys_list)

In [ ]:
keys_list = [ "Name", "Birth Month", "Programming Language", "Salary" ]
dic={}
for i in keys_list:
  dic[i]=input()
print(dic)

In [ ]:
# Create a function that displays the unique elements present inside the dictionary in descending order in a single line.
# Example :
# def unique_elements(dictionary):
#     ### your code here
# marks = {"English": 78, "Maths": 89, "Science": 92, "History": 89, "Geography": 77, "Physics": 92, "Chemistry": 78}
# unique_elements(marks)
# >>> 92 89 78 77

def unique_elements(dictionary):
  l=[]
  for i in dictionary.values():
    l.append(i)
    s=set(l)
    l1=list(s)
    l1.sort()
    l1.reverse()
  print(l1)

marks = {"English": 78, "Maths": 89, "Science": 92, "History": 89, "Geography": 77, "Physics": 92, "Chemistry": 78}
unique_elements(marks)

In [ ]:
# Create a function that will take 1 argument as tuple of countries and display the number of vowels in the name of each country.
# Example :
# def count_vowels(countries):
#     ### your code here
# asian_countries = ('afghanistan', 'bangladesh', 'bhutan', 'china', 'india', 'iran', 'iraq', 'israel','japan')
# count_vowels(asian_countries)
# >>> afghanistan has 4 vowels.
#     bangladesh has 3 vowels.
#     bhutan has 2 vowels.
#     china has 2 vowels.
#     india has 3 vowels.
#     iran has 2 vowels.
#     iraq has 2 vowels.
#     israel has 3 vowels.
#     japan has 2 vowels.

def count_vowels(countries):
  for i in countries:
    a='aeiou'
    l=[]
    for j in i:
      if j in a:
        l.append(j)
    print( i,'has' ,len(l),'vowels')


asian_countries = ('afghanistan', 'bangladesh', 'bhutan', 'china', 'india', 'iran', 'iraq', 'israel','japan')
count_vowels(asian_countries)

In [ ]:
# Write a program that will find all the numbers between 1000 and 3000 (both included) such that each digit of the number is an even number and the numbers obtained should be printed in a comma - separated sequence on a single line.
# Note : Google search for join function of string datatype.
# def even_in_range():
#     ### your code here
def even_in_range(a,b):
  l=[]
  for v in range(a,b+1):
    p=''
    for j in str(v):
      if int(j)%2==0:
        p=p+j
    if p==str(v):
      l.append(str(v))
  p1=",".join(l)
  print(p1)

even_in_range(1000,3000)

In [ ]:
# Create a function that will try to mimic the SUPEROVER scenario from Cricket. You have to create 2 dictionaries 
# for 2 teams and each dictionary will contain the outcome of 6 balls bowled in the superover as key (i.e- run scored
# on that ball) and values of that dictionary will be as follows:
# 'W' : 0 runs
# 'R' : 1-6 runs
# The runs scored will be generated randomly using random module by using random.randint(0,6) and make sure that you 
# are including the number 5 in dictionary deliberately even though there is no 5 runs in cricket. You also have to 
# track the number of wickets fallen in that superover.
# Also make sure that your dictionary has 6 unique keys for every deliveries in a superover. The output of the 
# function should be dictionaries of both the teams and scorecard along with the number of wickets fallen, by 
# compnaring the scores of both the teams show which team has won in superover, as shown in the example below:
# Example :
# def superover():
#     ### your code here
# superover()
# >>> >>> Performance of Team1 : {0: 'W', 1: 'R', 3: 'R', 4: 'R', 5: 'R', 6: 'R'}
#     Performance of Team2 : {0: 'W', 1: 'R', 3: 'R', 4: 'R', 5: 'R', 6: 'R'}
#     Scorecard of Team1 : 19 / 1
# Scorecard of Team2 : 19 / 1
#     Its a Draw!  
# >>> Performance of Team1 : {0: 'W', 1: 'R', 2: 'R', 4: 'R', 5: 'R', 6: 'R'}
#     Performance of Team2 : {0: 'W', 1: 'R', 2: 'R', 3: 'R', 4: 'R', 6: 'R'}
#     Scorecard of Team1 : 18 / 1
#     Scorecard of Team2 : 16 / 1
#     Team1 wins by 2 runs!
# >>> Performance of Team1 : {0: 'W', 1: 'R', 3: 'R', 4: 'R', 5: 'R', 6: 'R'}
#     Performance of Team2 : {0: 'W', 1: 'R', 2: 'R', 3: 'R', 4: 'R', 5: 'R'}
#     Scorecard of Team1 : 19 / 1
#     Scorecard of Team2 : 15 / 1
#     Team1 wins by 4 runs!

import random

def superover():
  
  Team1={}
  while len(Team1)!=6:
    r=random.randint(0,6)
    if r==0:
      Team1[r]='W'
    else:
      Team1[r]='R'
  print('Performance of Team1 : ',Team1)

  Team2={}
  while len(Team2)!=6:
    r=random.randint(0,6)
    if r==0:
      Team2[r]='W'
    else:
      Team2[r]='R'
  print('Performance of Team2 : ',Team2)

  t1w=[]
  t2w=[]
  if 'W' in Team1.values():
    t1w.append('w')
  if 'W' in Team2.values():
    t2w.append('w')

  t1score=sum(list(Team1.keys()))
  t2score=sum(list(Team2.keys()))

  print('Scorecard of Team1 : ',t1score,'/', len(t1w) )
  print('Scorecard of Team1 : ',t2score,'/', len(t2w) )

  if t1score==t2score:
    print('Its a Draw!')
  elif t1score>t2score:
    print('Team1 wins by', t1score-t2score ,'runs!')
  elif t1score<t2score:
    print('Team2 wins by', t2score-t1score ,'runs!')




superover()

## **Advanced Python Questions**

In [ ]:
# Create a list to store the numbers between 111 to 200 that are divisible by 7 using comprehension.
[i for i in range(111,200) if i%7==0]

In [ ]:
# Create a dictionary with 5 key-value pairs that has key as an integer in string datatype and their respective value as 
#a tuple consisting of 2 elements : key in float datatype & square value of key in integer datatype using comprehension.
# Example :
# >>> {'0': (0.0, 0), '1': (1.0, 1), '2': (2.0, 4), '3': (3.0, 9), '4': (4.0, 16)}
{str(i):(float(i),i**2) for i in range(5)}

In [ ]:
# Create a dictionary with key-value pairs that has key as the number and their respective value as True if the length of the number is greater than 1 else False using comprehensions.
a={i:True if len(str(i))>1 else False for i in range(6,15) }
print(a)

In [ ]:
# Create a set that filters the numbers that are divisible by 7 as well as 8 between 0 - 1000 using set comprehension.
s={i for i in range(0,1000) if i%7==0 and i%8==0 }
print(s)

In [ ]:
# Create a function that takes numbers as input, displays the sum of those numbers, stores the numbers inside a dictionary with number being the key and values being the square root 
# of those numbers in reverse order in float datatype using map function and dictionary comprehension.
# Note : Use input() inside the function and use .split() to split the number string.
# Example :
# input('Enter the input numbers : ').split()
# >>> ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
# def number_operation():
#     ### your code here
# number_operation()
# >>> Enter the input numbers : 1 2 3 4 5 6 7 8 9 10
#     Sum of Input Numbers :  55
#     {10.0: 3.1622776601683795, 9.0: 3.0, 8.0: 2.8284271247461903, 7.0: 2.6457513110645907, 6.0: 2.449489742783178, 5.0: 2.23606797749979, 4.0: 2.0, 3.0: 1.7320508075688772, 2.0: 1.4142135623730951, 1.0: 1.0}


def number_operation(w):
  sr= lambda  p:int(p)**0.5
  
  q={i:j for i,j in zip(w[::-1],map(sr,w[::-1]))}
  print(q)
w=input().split()

number_operation(w)

In [ ]:
def number_operation():
  # sr= lambda  p:int(p)**0.5
  w=input().split()
  q={i:j for i,j in zip(w[::-1],map(lambda  p:int(p)**0.5,w[::-1]))}
  print(q)


number_operation()

In [ ]:
square_root=lambda x:int(x)**0.5
s=input().split()
a={j:i for i,j in zip(map(square_root, s[::-1]),s[::-1])}
print(a)

In [ ]:
# Create a function that uses dictionary comprehension to create a dictionary that stores the character of the 
# string as the keys and its value will be a group of (1,True) if it is a vowel or (0,False) if it is not.
# Note : Try to solve this using zip function and without zip function.
# Example :
# def is_vowel(string1)::
#     ### your code here
# string1 = "practice problems to drill list comprehension in your head."
# is_vowel(string1)
# >>> {'p': (0, False),
#  'r': (0, False),
#  'a': (1, True),
#  'c': (0, False),
#  't': (0, False),
#  'i': (1, True),
#  'e': (1, True),
#  ' ': (0, False),
#  'o': (1, True),
#  'b': (0, False),
#  'l': (0, False),
#  'm': (0, False),
#  's': (0, False),
#  'd': (0, False),
#  'h': (0, False),
#  'n': (0, False),
#  'y': (0, False),
#  'u': (1, True),
#  '.': (0, False)}

def is_vowel(string1):
  a='aeiou'
  d={i:(1,True) if i in a else (0,False) for i in string1}
  print(d)


string1 = "practice problems to drill list comprehension in your head."
is_vowel(string1)

In [ ]:
string1 = "practice problems to drill list comprehension in your head."
a='aeiou'
for i in string1:
  if i in a:
    print({i:(1,True)})
  else:
    print({i:(0,False)})

In [ ]:
# Create a function that mimics a lottery system that is based on the vowels and consonants from the user's name. Vowels are worth 5 points each and 
#consonants are worth 1 point each. Points calculation also includes the index numbers of the vowels and consonants. If the vowel points equates to 
#consonant points, it is a lottery!
# Note : Enter your name in lowercase. Try solving this using enumerate and range function.
# Example :
# point_calculations = ( (5 * Number of vowels) or (1 * Number of consonants) ) + 
#                      ( sum(index values of vowels) or sum(index values of consonants) )
# name : 'abhishek'; index_values : 'a' = 0, 'b' = 1, 'h' = 2, 'i' = 3,
#                                   's' = 4, 'h' = 5, 'e' = 6 ,'k' = 7
# vowels = ['a', 'i', 'e']; consonants = ['b', 'h', 's', 'h', 'k']
# vowel_points = ( 5 * 3 vowels ) + ( 0 + 3 + 6 ) = 15 + 9 = 24
# consonant_points = ( 1 * 5 consonants ) + ( 1 + 2 + 4 + 5 + 7 ) = 5 + 19 = 24
# def lottery():
#     ##Your code here
# lottery()
# >>> Enter your name : abhishek
#     Vowel Points :  24
#     Consonant Points :  24
#     Lottery!!!!
# lottery()
# >>> Enter your name : aiadventures
#     Vowel Points :  56
#     Consonant Points :  46
#     Better Luck Next Time!

def lottery():
  str=input()
  v='aeiou'
  vowels=[i for i in str if i in v]
  consonants=[j for j in str if j not in v]
 
  Number_of_vowels=len(vowels)
  Number_of_consonants=len(consonants)
 
  index_values_of_vowels=[i for i in range(len(str)) if str[i] in v]
  index_values_of_consonants=[j for j in range(len(str)) if str[j] not in v ]


  vowel_points =(Number_of_vowels*Number_of_consonants) + sum(index_values_of_vowels)
  consonant_points=(Number_of_consonants*1) + sum (index_values_of_consonants)

  if vowel_points==consonant_points:
    print('Lottery!!!!')
  else:
    print('Better Luck Next Time!')




lottery()

In [ ]:
str='abhishek'
v='aeiou'
vowels=[i for i in str if i in v]
consonants=[j for j in str if j not in v]
# print(vowels)
# print(consonants)
Number_of_vowels=len(vowels)
Number_of_consonants=len(consonants)
# print(Number_of_vowels)
# print(Number_of_consonants)
index_values_of_vowels=[i for i in range(len(str)) if str[i] in v]
index_values_of_consonants=[j for j in range(len(str)) if str[j] not in v ]
# print(index_values_of_vowels)
# print(index_values_of_consonants)

  # point_calculations = ( (5 * Number_of_vowels) or (1 * Number_of_consonants) ) +( sum(index values_of_vowels) or sum(index values of consonants) )
vowel_points =(Number_of_vowels*Number_of_consonants) + sum(index_values_of_vowels)
consonant_points=(Number_of_consonants*1) + sum(index_values_of_consonants)

if vowel_points==consonant_points:
  print('Lottery!!!!')
else:
  print('Better Luck Next Time!')

In [ ]:
a[0],b[0]

In [ ]:
# Create a function to mimic the fermi pico bagels game by passing two strings as arguments using any type of 
# comprehension.
# Note : Do not pass numbers with repetitive digits.
# Note : Make use of iterators, loops and flow control statements in the comprehension.
# Example :
# def result(guess_number,original_number):
#     ##Your code here
# result('143','345')
# >>> 'Fermi Pico'
# result('178','345')
# >>> 'Bagels'

def result(guess_number,original_number):
  l=[]
  for i in range(len(original_number)):
      if original_number [i] ==guess_number[i] :
        l.append('Fermi')
      elif guess_number[i] in original_number :
        l.append('Pico')
    # if ('Fermi' not in l) and  ('Pico' not in l):      
      # l.append('Bagel')
  print(l) 

result('543','345')

['Pico', 'Fermi', 'Pico']

In [ ]:
def result(guess_number,original_number):
  x=['Fermi' if guess_number[i]==original_number[i] else "Pico"   for i in range(len(original_number)) if guess_number[i] in original_number]
  if len(x)==0:
    x.append('Bagel')
  print(x)

result('123','123')

['Fermi', 'Fermi', 'Fermi']

# **Errors and Exceptions Practice Questions**

**1** 
Create a function that takes 2 lists as arguments and appends the 5th element of the 1st list inside the 2nd list. Use the try and except clause for handling the IndexError if the lengths of the lists are not appropriate and display a message as Check the lengths of the list! and the official error message as well.

Example :

def list_append(l1,l2):
    ### your code here

l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [100,200,300,400,500,600,700,800,900,1000]
list_append(l1,l2)
>>> [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 6]

l1 = [1,2,3]
l2 = [100,200,300,400,500,600,700,800,900,1000]
list_append(l1,l2)
>>> 'Check the lengths of the list!'
>>> 'list index out of range'

In [ ]:
def list_append(l1,l2):
  try:
    l2.append(l1[5])
    print(l2)
  except:
    print('Check the lengths of the list! IndexError: list index out of range')

l1 = [1,2,3,4,5,6]
l2 = [100,200,300,400,500,600,700,800,900,1000]

list_append(l1,l2)

2 Correct the following code snippet where a function takes a number from the user as argument whose factorial value is divided by the same number. The factorial value of the number is calculated from another function that has SyntaxError present. Hence, correct the code snippet and make sure to use the try and except clause to handle the ZeroDivisionError and display the error message as well.

Example :

def factorial(n):

    fact =+ 1
    i = 1
    while n = i:
        fact == fact * (i
        i = i - 1
    return(fact)

def fact_divide(number):
    ### your code here


number = int(input('Enter any number : '))
fact_divide(number)
>>> Enter any number : 10
    Answer :  362880.0

number = int(input('Enter any number : '))
fact_divide(number)
>>> Enter any number : 0
    Error :  division by zero

In [ ]:
def factorial(n):
  fact = 1
  i = 1
  while n>i:
    fact = fact * i
    i = i+ 1
  return(fact)

def fact_divide(number):
  try:
    print('fact divide: ', factorial(number)/number)
  except:
    print('Error :  division by zero')


number = int(input('Enter any number : '))
fact_divide(number)

# number = int(input('Enter any number : '))
# fact_divide(number)
# >>> Enter any number : 0
#     Error :  division by zero

3 Complete the following function that takes a string from the user as argument, creates a new string by placing the old string characters and their respective index numbers adjacent to each other. The following code snippet has a SyntaxError present. Hence, add a try-except-else-finally clause to deal with this. Display the TypeError in except clause, use the pass keyword in the else clause and finally clause should display the message Code Completed!.

Example :

def name_modification(name):

    new_name = ''
    try:
        for i in range(len(name)):
            new_name = new_name ^ name[i] ^ str(i) > ' '  
        print(new_name)

    ### your code here

 Output of the snippet before correcting the syntax of code present in `try` clause

name = input('Enter your name : ')
name_modification(name)
>>> Enter your name : aiadventures
    TypeError :  unsupported operand type(s) for ^: 'str' and 'str'
    Code Completed!

 Output of the snippet after correcting the syntax of code present in `try` clause

name = input('Enter your name : ')
name_modification(name)
>>> Enter your name : aiadventures
a0 i1 a2 d3 v4 e5 n6 t7 u8 r9 e10 s11 
Code Completed!

In [ ]:
def name_modification(name):
  new_name = ''
  try:
    for i,char in enumerate(name):
      #print(str(i))
      new_name = new_name +(char +str(i)+' ')
    print(new_name)
    # for i in range(len(name)):
    #   new_name = new_name + name[i] + str(i) + ' '  
    #   print(new_name)
  except:
    print("TypeError :  unsupported operand type(s) for ^: 'str' and 'str'")
  else:
    pass
  finally:
    print('Code Completed!')

  
name = input('Enter your name : ')
name_modification(name)

The following code snippet has some errors present. Debug the code by googling the error and searching on StackOverFlow as well. You can add, edit or delete variables or values to get the desired output of the code. The following function is asking the user to enter marks for 5 subjects, display the marks in ascending order alongwith the subject name and calculate the percentage of the subjects.

Example :

def display_marks(l1):

    dict = {};d = {}
    for i in range(len(l1)):
        d.append({l1[i] : int(input('Enter the marks for ' + l1[i] + ' out of 100 : '))})
    total_marks = sum(list(map(int,d.values()))
    marks = list(map(int,d.values()))
    marks.sort()

    for i in range(len(marks)):
        for j,k in zip(dict.items(),range(len(marks))):
            if marks[i] == j[1]:
                print(k,'\t',j[0],'\t',j[1])
    print('Percentage : ', (total_marks / len(marks) * 100) * 100 )

list = ['English','Algebra','Science','History','Geography']
l1 = list
display_marks(l1)

>>> Enter the marks for English out of 100 : 90
Enter the marks for Algebra out of 100 : 80
Enter the marks for Science out of 100 : 70
Enter the marks for History out of 100 : 60
Enter the marks for Geography out of 100 : 50
4    Geography   50
3    History     60
2    Science     70
1    Algebra     80
0    English     90
Percentage :  70.0

In [ ]:
def char_pattern(team):
    try :
        l = []
        for i in range(len(set(team))):
            l.append(team[-(i+1)] * i)
        for i in l:
            print(i)
    except:
      print("AttributeError :  'list' object has no attribute 'keys'")

    else:
      print('No Error! Just to use the raise keyword')
    
    finally:
      print('Code Completed!.')

team = input('Enter the name of any IPL team : ')
char_pattern(team)

In [ ]:
# The following code snippet has some errors present. Debug the code by googling the error and searching on StackOverFlow as well. You can add, edit or delete variables or values to get the desired output of the code. The following function is asking the user to enter marks for 5 subjects, display the marks in ascending order alongwith the subject name and calculate the percentage of the subjects.

# Example :

# def display_marks(l1):

#     dict = {};d = {}
#     for i in range(len(l1)):
#         d.append({l1[i] : int(input('Enter the marks for ' + l1[i] + ' out of 100 : '))})
#     total_marks = sum(list(map(int,d.values()))
#     marks = list(map(int,d.values()))
#     marks.sort()

#     for i in range(len(marks)):
#         for j,k in zip(dict.items(),range(len(marks))):
#             if marks[i] == j[1]:
#                 print(k,'\t',j[0],'\t',j[1])
#     print('Percentage : ', (total_marks / len(marks) * 100) * 100 )

# list = ['English','Algebra','Science','History','Geography']
# l1 = list
# display_marks(l1)

# >>> Enter the marks for English out of 100 : 90
# Enter the marks for Algebra out of 100 : 80
# Enter the marks for Science out of 100 : 70
# Enter the marks for History out of 100 : 60
# Enter the marks for Geography out of 100 : 50
# 4    Geography   50
# 3    History     60
# 2    Science     70
# 1    Algebra     80
# 0    English     90
# Percentage :  70.0


def display_marks(l1):

    dict = {};d = {}
    for i in range(len(l1)):
        d.update({l1[i] : int(input('Enter the marks for ' + l1[i] + ' out of 100 : '))})
        print(d)

    total_marks = sum(list(map(int,(d.values()))))
    marks = list(map(int,list(d.values())))
    print(marks)
    marks.sort()

    for i in range(len(marks)):
        for j,k in zip(dict.items(),range(len(marks))):
            if marks[i] == j[1]:
                print(k,'\t',j[0],'\t',j[1])
    print('Percentage : ', (total_marks / (len(marks) * 100)) * 100 )

lst = ['English','Algebra','Science','History','Geography']
display_marks(lst)

Enter the marks for English out of 100 : 90
{'English': 90}
Enter the marks for Algebra out of 100 : 80
{'English': 90, 'Algebra': 80}
Enter the marks for Science out of 100 : 70
{'English': 90, 'Algebra': 80, 'Science': 70}
Enter the marks for History out of 100 : 60
{'English': 90, 'Algebra': 80, 'Science': 70, 'History': 60}
Enter the marks for Geography out of 100 : 50
{'English': 90, 'Algebra': 80, 'Science': 70, 'History': 60, 'Geography': 50}
[90, 80, 70, 60, 50]
Percentage :  70.0

In [ ]:
l1=list

In [ ]:
l1

list

In [ ]:
l1=['English','Algebra','Science','History','Geography']
dict = {};d = {}
for i in range(len(l1)):
  d.update({l1[i] : int(input('Enter the marks for ' + l1[i] + ' out of 100 : '))})
  print(d)

total_marks = sum(list(map(int,d.values())))

marks = list(map(int,list(d.values())))
print(marks)
marks.sort()

for i in range(len(marks)):
    for j,k in zip(dict.items(),range(len(marks))):
        if marks[i] == j[1]:
            print(k,'\t',j[0],'\t',j[1])
print('Percentage : ', (total_marks / (len(marks) * 100)) * 100 )

Enter the marks for English out of 100 : 90
{'English': 90}
Enter the marks for Algebra out of 100 : 80
{'English': 90, 'Algebra': 80}
Enter the marks for Science out of 100 : 70
{'English': 90, 'Algebra': 80, 'Science': 70}
Enter the marks for History out of 100 : 60
{'English': 90, 'Algebra': 80, 'Science': 70, 'History': 60}
Enter the marks for Geography out of 100 : 50
{'English': 90, 'Algebra': 80, 'Science': 70, 'History': 60, 'Geography': 50}
[90, 80, 70, 60, 50]
Percentage :  70.0

In [ ]:
a={'English': 90, 'Algebra': 80, 'Science': 0, 'History': 60, 'Geography': 50}
r=sum(list(map(int,a.values())))
print(r)

280

# **Strings and Regex Practice Questions**

**Difficulty Level : Easy**
Create a function that checks whether a word or phrase is palindrome or not.

Palindrome Definition : It is a word or sequence that when read from right-to-left or left-to-right mean the same word.

         Example: madam, kayak, racecar, etc.
Note : Try solving this using String Slicing and String Concatenation

Example :

def palindrome(string):
    ### your code here

palindrome('madam')
->-> 'Palindrome!'

palindrome('aiadventures')
->->-> 'Not Palindrome!'

In [ ]:
#string Slicing method
def palindrome(p):
  n=p[::-1]
  if p==n:
    print('Palindrome!')
  else:
    print('Not Palindrome!')

In [ ]:
palindrome('racecar')

In [ ]:
# string concatenation method
def pdrome(o):
  l=''
  for i in o[::-1]:
    l=l+i
  if l == o:
      print('Palindrome!')
  else:
      print('Not Palindrome!')
    
    
pdrome('kayak')



*   Create a function that splits the string and stores the word and length of the word in a dictionary using dictionary comprehension.

Note : Use String method as well as Regex method.

Example :

def len_words(string):
    ### your code here

string1 = "Practice Problems to Drill List Comprehension in Your Head."
len_words(string1)

>>> {'Practice': 8, 'Problems': 8, 'to': 2, 'Drill': 5, 'List': 4, 'Comprehension': 13, 'in': 2, 'Your': 4, 'Head.': 5}

In [ ]:
# string method
def len_words(s):
  a={x:len(x) for x in s.split()}
  print(a)

In [ ]:
string1 = "Practice Problems to Drill List Comprehension in Your Head."
len_words(string1)

In [ ]:
# regex method
import re
def len_words(s):
  q=re.compile('\s+')
  v={x: len(x) for x in q.split(s)}
  print(v)

In [ ]:
string0 = "Practice Problems to Drill List Comprehension in Your Head."
len_words(string0)

{'Practice': 8, 'Problems': 8, 'to': 2, 'Drill': 5, 'List': 4, 'Comprehension': 13, 'in': 2, 'Your': 4, 'Head.': 5}



* Create a function that partitions the string on Python and changes all the uppercase elements to lowercase and vice versa for the 1st part of the partition and capitalizes the words of the 2nd part of the partition.

Note : Use String method.

Example :

def sentence_partition(string):
    ### your code here

string1 = "Students put efforts in learning Python for a successful future in emerging technologies!"
len_words(string1)

-> 'sTUDENTS PUT EFFORTS IN LEARNING Python For A Successful Future In Emerging Technologies!'
*   List item

In [ ]:
def sentence_partition(string):
  string=st.partition('Python') 
  d=''
  d+=s[0].swapcase()
  d+=s[1]
  d+=s[2].title()
  return d

In [ ]:
st = "Students put efforts in learning Python for a successful future in emerging technologies!"
sentence_partition(st)

'sTUDENTS PUT EFFORTS IN LEARNING Python For A Successful Future In Emerging Technologies!'

Create a function that takes your full name as argument and returns the abbreviations of the first and middle names except the last name which is displayed as it is.

Note : Use String method as well as Regex method.

Example :

def create_abbreviations(fullname):
    ### your code here

name = input('Enter your full name : ')
create_abbreviations(name)

'>>>' 
Enter your full name : Steve Paul Jobs
'S.P.Jobs'

In [ ]:
def create_abbreviations(fullname):
  s=''
  for i in fullname.split():
    if i== fullname.split()[-1]:
      s+=i
    else:
      s+=i[0]+'.'
  return s


name = input('Enter your full name : ') 
create_abbreviations(name)

Enter your full name : Steve Paul Jobs

'S.P.Jobs'

**Difficulty Level : Medium**
* Create a function that displays a dictionary that extracts a pattern of a >   vowel 
being followed by any number of consonants from a string. The value of the dictionary is the length of the substring extracted and the key is a symmetric combination of the substring alongwith its length. The length of the key should be double the length of the substring and it should contain the substring alongwith its length being added to the left of the substring if the length is less than equal to 3 else it is added to the right.

>Note : Use Regex method and try using dictionary comprehension.

Example :

def pattern_finding(string):
    ### your code here

string1 = 'ABCDEFGHAWQETEAINDVOPLZABMNPUI'
pattern_finding(string1)

>>> {'4444ABCD': 4, '4444EFGH': 4, 'AWQ333': 3, 'ET22': 2, '4444INDV': 4, '4444OPLZ': 4, '55555ABMNP': 5}

In [ ]:
import re
string1 = 'ABCDEFGHAWQETEAINDVOPLZABMNPUI'
a={}
regex=re.compile('[AEIOU][^AEIOU]+')
x=regex.findall(string1)
x
y={(str(len(i))*len(i))+i:len(i) for i in x}
y={}
for i in x:
  if len(i)>=4:
    b=((len(i))*str(len(i)))+i
    y.update({b:len(i)})
  else:
    b=i+((len(i))*str(len(i)))
    y.update({b:len(i)})
print(y)

{'4444ABCD': 4, '4444EFGH': 4, 'AWQ333': 3, 'ET22': 2, '4444INDV': 4, '4444OPLZ': 4, '55555ABMNP': 5}

Create a function that replaces all the lowercase words with their uppercase versions and vice versa and centers the entire string in 100 spaces only if the 1st word of the string starts with a lowercase letter or ends with an exclamation mark.

Note : Use String method as well as Regex method for splitting and replacing string values. This question aims to showcase the similarity between String and Regex methods.

Note : There is no mistake in the output of string1 for words : Always to AlwAys ; upgradation to upgrAdAtion. Debug what might have caused it!

Example :

def string_modification(string):
    ### your code here

string1 = "learning data science is too much fun! Always in a process of upgradation."
string_modification(string1)

>>> '            LEARNING DATA SCIENCE IS TOO MUCH FUN! AlwAys IN A PROCESS OF upgrAdAtion.             
'

string2 = "Artificial Intelligence, BlockChain, Cybersecurity and Networking are going to mould the future!"
string_modification(string2)

>>> '  Artificial Intelligence, BlockChain, Cybersecurity AND Networking ARE GOING TO MOULD THE FUTURE!  '

In [ ]:
# def string_modification(string):
#   l=[]
#   s=' '.join(l)

#   for i in string.split():
#     if i[0].islower() and i[-1]=='!':
#       l.append(i.swapcase())
#     else:
#       l.append(i)
#   print(s)
#   if string[0].islower():
#     print(s.center(100))
#   else:
#     print(s)



string1 = "learning data science is too much fun! Always in a process of upgradation." 

l=[]
s=' '.join(l)

for i in string1.split():
  if i[0].islower() or i[-1]=='!':
    l.append(i.swapcase())
  else:
    l.append(i)
print(l)
if string1[0].islower():
  print(s.center(100))
else:
  print(s)


# string_modification(string1)
# # ' LEARNING DATA SCIENCE IS TOO MUCH FUN! AlwAys IN A PROCESS OF upgrAdAtion.'

string2 = "Artificial Intelligence, BlockChain, Cybersecurity and Networking are going to mould the future!" 

# string_modification(string2)
# ' Artificial Intelligence, BlockChain, Cybersecurity AND Networking ARE GOING TO MOULD THE FUTURE!

['LEARNING', 'DATA', 'SCIENCE', 'IS', 'TOO', 'MUCH', 'FUN!', 'Always', 'IN', 'A', 'PROCESS', 'OF', 'UPGRADATION.']

 **Difficulty Level : Hard**
Create a function that decodes a message encoded in Morse Code, displays the decoded message and the number of vowels and consonants present.

Note : Use String methods. Sharing a dictionary to help decode the message.

Note : Google about Morse Code for more information.

Note : '/' in the message specifies the space between words. ' ' between codes specifies the individual letters.

Example :

def decode_count(message):
    ### your code here


morse_code_dict = { 'A':'.-', 'B':'-...',
                    'C':'-.-.', 'D':'-..', 'E':'.',
                    'F':'..-.', 'G':'--.', 'H':'....',
                    'I':'..', 'J':'.---', 'K':'-.-',
                    'L':'.-..', 'M':'--', 'N':'-.',
                    'O':'---', 'P':'.--.', 'Q':'--.-',
                    'R':'.-.', 'S':'...', 'T':'-',
                    'U':'..-', 'V':'...-', 'W':'.--',
                    'X':'-..-', 'Y':'-.--', 'Z':'--..',
                    '1':'.----', '2':'..---', '3':'...--',
                    '4':'....-', '5':'.....', '6':'-....',
                    '7':'--...', '8':'---..', '9':'----.',
                    '0':'-----', ', ':'--..--', '.':'.-.-.-',
                    '?':'..--..', '!':'-.-.--','/':'-..-.', 
                    '-':'-....-','(':'-.--.', ')':'-.--.-',}

message = '-.-. --- -. ... .. ... - . -. -.-. -.-- / .. ... / -.- . -.-- -.-.--'
decode_count(message)

>>> 
Decoded Message :  CONSISTENCY IS KEY! 
Number of Vowels :  5
Number of Consonants :  15

In [ ]:
def decode_count(message):
  morse_code_dict = { 'A':'.-', 'B':'-...', 'C':'-.-.', 'D':'-..', 'E':'.', 'F':'..-.', 'G':'--.', 'H':'....', 'I':'..', 'J':'.---', 'K':'-.-', 'L':'.-..', 'M':'--', 'N':'-.', 'O':'---', 'P':'.--.', 'Q':'--.-', 'R':'.-.', 'S':'...', 'T':'-', 'U':'..-', 'V':'...-', 'W':'.--', 'X':'-..-', 'Y':'-.--', 'Z':'--..', '1':'.----', '2':'..---', '3':'...--', '4':'....-', '5':'.....', '6':'-....', '7':'--...', '8':'---..', '9':'----.', '0':'-----', ', ':'--..--', '.':'.-.-.-', '?':'..--..', '!':'-.-.--','/':'-..-.', '-':'-....-','(':'-.--.', ')':'-.--.-',}
  d=''
  for i in message.split():
    for a,b in morse_code_dict.items():
      if i ==b:
        d+=a
    if i=='/':
      d+=' '
  v=[i for i in d if i in 'AEIOU']
  c=[i for i in d if (i.isalpha()) and (i not in 'AEIOU')]
  
  print(d,'\nNumber of Vowels :', len(v),'\nNumber of Consonants : ',len(c) )

In [ ]:
message = '-.-. --- -. ... .. ... - . -. -.-. -.-- / .. ... / -.- . -.-- -.-.--' 
decode_count(message)
# len('CONSISTENCY IS KEY!')-5

CONSISTENCY IS KEY!
Number of Vowels : 5
Number of Consonants :  11

Create a function that extracts information like date, name of the news article, URL extension, category of news, and headline from the list of the links provided and display in a tabular format. To display elements in a tabular format, the string elements and the column names are centered on the length of the longest element present inside that column.

Note : Use combination of String and Regex method. The links provided below are modified and thus not original links. Hence, observe the links for pattterns to extract information.

Note : Make sure to decide on the number of variables required for this problem. Google to find out the length of the longest element inside the column.

Example :

def extract_info(links):
    ### your code here

links = ['https://www.washingtonpost.com/TECHNOLOGY/2021/08/31/tips-phone-disasters/',
'https://www.nytimes.com/2019/12/30/TELEVISION/indian-tv-amazon-netflix/',
'https://www.thestar.net/TERRORISM/2019/06/15/maoist-rebels-kill-5-policemen-in-eastern-india/',
'https://www.weforum.org/HEALTH/2022/01/10/covid19-top-stories-omicron-coronavirus/',
'https://www.livemint.in/2022/04/22/SPORTS/neeraj-chopra-wins-gold-in-javelin-throw-at-tokyo-olympics/']
extract_info(links)

>>>
   Date     News Article  Ext  Category                           Headline                         
2021/08/31 washingtonpost com TECHNOLOGY                    tips-phone-disasters                   
2019/12/30    nytimes     com TELEVISION                  indian-tv-amazon-netflix                 
2019/06/15    thestar     net TERRORISM       maoist-rebels-kill-5-policemen-in-eastern-india      
2022/01/10    weforum     org   HEALTH            covid19-top-stories-omicron-coronavirus          
2022/04/22    livemint     in   SPORTS   neeraj-chopra-wins-gold-in-javelin-throw-at-tokyo-olympics

In [ ]:
links = ['https://www.washingtonpost.com/TECHNOLOGY/2021/08/31/tips-phone-disasters/', 'https://www.nytimes.com/2019/12/30/TELEVISION/indian-tv-amazon-netflix/', 'https://www.thestar.net/TERRORISM/2019/06/15/maoist-rebels-kill-5-policemen-in-eastern-india/', 'https://www.weforum.org/HEALTH/2022/01/10/covid19-top-stories-omicron-coronavirus/', 'https://www.livemint.in/2022/04/22/SPORTS/neeraj-chopra-wins-gold-in-javelin-throw-at-tokyo-olympics/'] 

import re

date=re.compile('\d+/\d+/\d+')
d=[date.findall(i)[0] for i in links]

News=re.compile('\.\w+\.')
n=[News.findall(i)[0][1:-1] for i in links]

Ext=re.compile('\.\w+/') 
E=[Ext.findall(i)[0][1:-1] for i in links] 

Category=re.compile('[A-Z]+') 
C=[Category.findall(i)[0] for i in links]   
C
H=[i.split('/')[-2] for i in links ]


print('Date'.center(10), 'News Article'.center(17) , 'Ext'.center(10) ,'Category'.center(20) ,'Headline'.center(60))
for v,w,x,y,z in zip(d,n,E,C,H):
  print(v,w.center(17),x.center(10),y.center(20),z.center(60))

   Date       News Article      Ext           Category                                 Headline
2021/08/31   washingtonpost     com          TECHNOLOGY                          tips-phone-disasters
2019/12/30      nytimes         com          TELEVISION                        indian-tv-amazon-netflix
2019/06/15      thestar         net          TERRORISM             maoist-rebels-kill-5-policemen-in-eastern-india
2022/01/10      weforum         org            HEALTH                  covid19-top-stories-omicron-coronavirus
2022/04/22      livemint         in            SPORTS         neeraj-chopra-wins-gold-in-javelin-throw-at-tokyo-olympics

# **OOP Practice Questions**

**Difficulty Level : Easy**

Create a class named Display_Info that has 4 instance variables : name, age, hobby and favourite_colour and a method display that displays the instance variables in the same order. Also, make sure to display a message : Object Created Successfully! whenever an object is created.

Example :

class Display_Info():
    ### your code here

di1 = Display_Info('Ai Adventures',35,'Drawing','Red')
di1.display()
>>> Object Created Successfully!
Name of the Person :  Ai Adventures
Age of the Person :  35
Hobby of the Person :  Drawing
Favourite Colour of the Person :  Red

In [ ]:

class Display_Info():
  def __init__(self,name,age,hobby,favourite_color):
    self.name=name
    self.age=age
    self.hobby=hobby
    self.favourite_color=favourite_color

di1= Display_Info('Ai Adventures',35,'Drawing','Red')
print('Object Created Successfully! Name of the Person :%s Age of the Person :%s Hobby of the Person :%s Favourite Colour of the Person :%s'% (di1.name,di1.age,di1.hobby,di1.favourite_color) )



*   Create a class named Circle that has a constructor variable radius and 2 

methods that calculate the area and the perimeter of the circle.

Example :

class Circle():
    ### your code here

c1 = Circle(8)
c1.area()
>>> 'Area of the Circle :  200.96'

c2 = Circle(17)
c2.perimeter()
>>> 'Perimeter of the Circle :  106.76'

In [ ]:
class Circle():
  def __init__(self,radius):
    self.r=radius
  
  
  def area(self):
    return ('Area of the Circle : ' , 3.14*(self.r**2))
  def perimeter(self):
    return 2*(3.14*self.r)

In [ ]:
c1 = Circle(8) 
c1.area()

('Area of the Circle : ', 200.96)

In [ ]:
c2 = Circle(17) 
c2.perimeter()

106.76



*   Create a class named marks_calculation that has no constructor and no instance variables but has a method named percentage that takes input from the user for marks out of 100 for 5 subjects : ['English','Geometry','History','Science','Geography'] and stores them inside a dictionary with subject names as keys and marks as values. It is then stored as an instance variable marks, display this variable alongwith the percentage of the marks.
class marks_calculation():
    ### your code here

m1 = marks_calculation()

m1.percentage()
>>> Enter the marks for English out of 100 : 90
Enter the marks for Geometry out of 100 : 80
Enter the marks for History out of 100 : 70
Enter the marks for Science out of 100 : 60
Enter the marks for Geography out of 100 : 50
Percentage :  70.0

m1.marks
>>> {'English': 90, 'Geometry': 80, 'History': 70, 'Science': 60, 'Geography': 50}

In [ ]:
class marks_calculation():
  
  
  def percentage(self):
    self.marks={}
  
    l1= ['English','Geometry','History','Science','Geography']
    d={}
    d1={}
    a= list(map(int,d1.values()))
    for i in range(len(l1)):
        d.update({l1[i] : int(input('Enter the marks for ' + l1[i] + ' out of 100 : '))})
    print(d)

    total_marks = sum(list(map(int,(d.values()))))
    self.marks = list(map(int,list(d.values())))
    # print(marks)
    self.marks.sort()

    for i in range(len(self.marks)):
        for j,k in zip(d.items(),range(len(self.marks))):
            if self.marks[i] == j[1]:
              pass
                # print(k,'\t',j[0],'\t',j[1])
    print('Percentage : ', (total_marks / (len(self.marks) * 100)) * 100 )

In [ ]:
m1 = marks_calculation()

m1.percentage()

Enter the marks for English out of 100 : 10
Enter the marks for Geometry out of 100 : 20
Enter the marks for History out of 100 : 30
Enter the marks for Science out of 100 : 40
Enter the marks for Geography out of 100 : 50
{'English': 10, 'Geometry': 20, 'History': 30, 'Science': 40, 'Geography': 50}
Percentage :  30.0

In [ ]:
60def multiplyNumbers(*numbers):
    product=1
    for n in numbers:
        product*=n
    return product
 
print("product:",multiplyNumbers(4,4,5,3,9))

product: 2160

In [ ]:

def makeSentence(**words):
    sentence=''
    for word in words.values():
        sentence+=word
    return sentence
 
print('Sentence:', makeSentence(a='Kwargs ',b='are ', c='awesome!',d="python"))

Sentence: Kwargs are awesome!python

In [ ]:
m1 = marks_calculation()
m1.percentage()
m1.marks

Enter the marks for English out of 100 : 90
Enter the marks for Geometry out of 100 : 80
Enter the marks for History out of 100 : 70
Enter the marks for Science out of 100 : 60
Enter the marks for Geography out of 100 : 50
{'English': 90, 'Geometry': 80, 'History': 70, 'Science': 60, 'Geography': 50}
Percentage :  70.0

[50, 60, 70, 80, 90]



*   Create a class named BankAccount that contains 2 initialization variables balance and min_balance = 1000. Value for balance variable is passed during object creation whereas min_balance is already defined inside the constructor. It should also contain 2 methods withdraw() and deposit() that takes an argument to add or reduce the balance. Account should maintain min_balance and should not drop the balance below it. Display the balance and appropriate messages after evey withdrawal and deposit.

Example :

class BankAccount():
    ### your code here

b1 = BankAccount(3000)
b1.withdraw(2000)
>>> Withdrawal successful!
New Account Balance : ₹ 1000

b1.withdraw(500)
>>> Withdrawal denied! Cannot let balance cross the min_balance limit!
Account balance if this withdrawal is allowed : ₹ 500

b1.deposit(1000)
>>> Deposit successful!
New Account Balance : ₹ 2000

In [ ]:
class BankAccount():
  def __init__ (self, balance,mini_balance=1000):
    self.bal=balance
    self.mbal=mini_balance

  def withdraw(self,n):
    if (self.bal-n)>=1000:
      self.bal=self.bal-n
      return 'Withdrawal successful! New Account Balance : ₹  ',self.bal
    else:
      return'Withdrawal denied! Cannot let balance cross the min_balance limit! Account balance if this withdrawal is allowed : ₹ ', self.bal-n
      
  def deposit(self,n):
    self.bal=self.bal+n
    return 'Deposit successful! New Account Balance : ₹ ',self.bal

In [ ]:
b1 = BankAccount(3000) 
b1.withdraw(2000)

('Withdrawal successful! New Account Balance : ₹  ', 1000)

In [ ]:
b1.deposit(1000)

('Deposit successful! New Account Balance : ₹ ', 2000)

* Difficulty Level : Medium
Create a class named Point that consists of 2 constructor variables x and y, 9 Dunder or Magic methods and a length method to carry out a varied range of operations assuming the constructor variables as x co-ordinate and y co-ordinate of a point respectively. Constructor of the class Point should display a message : Point (x,y) created! as well.

List of Dunder or Magic methods : [addition, subtraction, multiplication, true division, greater than, greater than equal to, less than, less than equal to, equal to equal to]

Note : Google about Dunder or Magic methods.

Example :

class Point:
    ### your code here

p1 = Point(10,5)
p2 = Point(5,10)

print(p1 + p2)
print(p1 - p2)
print(p1 * p2)
print(p1 / p2)
print(p1 > p2)
print(p1 >= p2)
print(p1 < p2)
print(p1 <= p2)
print(p1 == p2)

>>> 
Point (10,5) created!
Point (5,10) created!
(15, 15)
(5, -5)
100
(2.0, 0.5)
False
True
False
True
False

In [ ]:
class Point():
  def __init__(self,x,y):
    self.x=x
    self.y=y
    print(f'Point {(self.x, self.y)} Created !')


  def __add__(self, p):
    return self.x + p.x, self.y + p.y

  def __sub__(self, p):
    return self.x - p.x, self.y - p.y


  def __mul__(self,p):
    return self.x *p.x , self.y *p.y

  def __truediv__(self,p):
    return self.x / p.x, self.y /p.y


  def length(self):
    return ((self.x) **2 + (self.y)** 2)**0.5


  def __gt__(self, p):
    return self.length() > p.length()

  def __ge__(self,p):
    return self.length()>=p.length()

  def __lt__(self,p):
    return self.length()< p.length()
    
  def __le__(self,p):
    return self.length()<= p.length()

  def __eq__(self,p):
    return self.length()== p.length()
  
    # [addition, subtraction, multiplication, true division, greater than, greater than equal to, less than, less than equal to, equal to equal to]

In [ ]:
p1 = Point(10,5) 
p2 = Point(5,10)

print(p1+p2)
print(p1 - p2)
print(p1 * p2)
print(p1 / p2)
print(p1 > p2)
print(p1 >= p2)
print(p1 < p2)
print(p1 <= p2)
print(p1 == p2)

Point (10, 5) Created !
Point (5, 10) Created !
(15, 15)
(5, -5)
(50, 50)
(2.0, 0.5)
False
True
False
True
True

In [ ]:
p1.__add__(p2)

(15, 15)

* Create a class named Course that has 1 default value constructor variable course = 'Machine Learning' and a method average_score that takes marks from the user for 5 tests, assigns it to a new constructor variable scores and calculates the average score of these marks. Create another class named student which has 2 instance variables name and age and inherits the Course class. It also contains a method display_info that displays a message using the attributes of Course class and student class, it also displays the average score using the average_score method of the Course class.

Note : Try using super keyword and without using super keyword.

Example :

class Course:
    ### your code here

s1 = student('Aiadventures',35)
s1.display_info()

>>> Aiadventures, age 35, has enrolled in Machine Learning course!
Enter the marks scored out of 10 : 8 9 7 10 6
Average Score of Aiadventures in Machine Learning course :  8.0

In [ ]:
class Course:
  def __init__(self):
    self.Machine_Learning_course=True
    self.a_score=1

  def inMachine_Learning_course(self):
    if self.Machine_Learning_course:
            print(" has enrolled in Machine Learning course!")
  
  def average_score(self):
    score=list(map(int,input('Enter the marks scored out of 10 : ').split()))
    self.a_score=sum(score)/len(score)
    print('Average Score of Aiadventures in Machine Learning course : ',end='') 
    print(self.a_score)


class student(Course):
  def __init__(self,name,age):
    super().__init__()
    self.name=name
    self.age=age

  def display_info(self):
      print(self.name,',','age',self.age, end=',')
      super().inMachine_Learning_course()
      super().average_score()

In [ ]:
s1 = student('Aiadventures',35) 
s1.display_info()

Aiadventures , age 35, has enrolled in Machine Learning course!
Enter the marks scored out of 10 : 10 9 8 7 6
Average Score of Aiadventures in Machine Learning course : 8.0


* Difficulty Level : Hard
Create a program that mimics a real-life SUPEROVER in cricket by creating a class named Team_Performance having no constructor but 3 constructor variables : team = {}, runs = [] and wickets = 0 defined in the only method play of the class. play is responsible for generating the scorecard and storing it inside team, runs and wickets are stored inside runs and wickets respectively. Another class named Superover inherits class Team_Performance that contains a constructor with 2 instance variables : team1 and team2 and displays a message "Let's begin the Superover between team1 and team2!" whenever an object is created. It also contains a method begin that calls the play method twice, stores the scorecard, runs and wickets information for both the teams and displays the final ouput.

Note : Runs are calculated using random.randint(0,6) from random module.

Note : You will have to create new variables inside begin method. The aim of this question is to learn about the structure of code as well as deciding the number of variables and their usage.

Note : 0 is considered as wicket and 5 as run is not accepted.

Example :

class Team_Performance:

match = Superover('A','B')
match.begin()

>>> Let's begin the Superover between A and B!
Performance of A : {'B1': 4, 'B2': 4, 'B3': 4, 'B4': 1, 'B5': 1, 'B6': 2}
Performance of B : {'B1': 2, 'B2': 3, 'B3': 2, 'B4': 6, 'B5': 0, 'B6': 2}
Scorecard of A : 16 / 0
Scorecard of B : 15 / 1
A wins by 1 runs!

>>> Let's begin the Superover between A and B!
Performance of A : {'B1': 6, 'B2': 1, 'B3': 0, 'B4': 1, 'B5': 1, 'B6': 6} 
Performance of B : {'B1': 4, 'B2': 1, 'B3': 0, 'B4': 6, 'B5': 3, 'B6': 2}
Scorecard of A : 15 / 1
Scorecard of B : 16 / 1
B wins by 1 runs!

>>> Let's begin the Superover between A and B!
Performance of A : {'B1': 1, 'B2': 1, 'B3': 4, 'B4': 0, 'B5': 3, 'B6': 6}
Performance of B : {'B1': 4, 'B2': 0, 'B3': 2, 'B4': 1, 'B5': 2, 'B6': 6}
Scorecard of A : 15 / 1
Scorecard of B : 15 / 1
Its a Draw!

* Create a program that mimics a race by creating a class named Player that has 2 instance variable name and distance = 0, 1 class variable number_of_steps and 3 methods : walk, run and jump that increment distance by 0.5, 1 and 2 respectively. Create another class named Race with no constructor but with 2 methods : number_generator and start where number_generator uses random.randint to generate numbers. start method initiates the game and uses walk, run and jump methods of Player class when the generated number is an odd number, even number and prime number respectively. Increment the number_of_steps variable whenever any of the methods of Player class is executed. The game is won by the player that achieves the distance of 20 points in the fewest number_of_steps.

Note : Do not use inheritance. Pass objects as method arguements.

Example :

class Player:
    ### your code here

p1 = Player('P1')
p2 = Player('P2')
race = Race()
race.start(p1,p2)

>>> P1 won the race with 16 steps!
Roadmap of P1 :  {2: 'Jump', 4: 'Jump', 5: 'Run', 7: 'Jump', 8: 'Run', 9: 'Run', 10: 'Run', 12: 'Jump', 12.5: 'Walk', 13.5: 'Run', 15.5: 'Jump', 16.0: 'Walk', 17.0: 'Run', 18.0: 'Run', 20.0: 'Jump', 22.0: 'Jump'}
P2 lost the race and took 17 steps!
Roadmap of P2 :  {1: 'Run', 2: 'Run', 3: 'Run', 4: 'Run', 5: 'Run', 6: 'Run', 8: 'Jump', 9: 'Run', 11: 'Jump', 12: 'Run', 14: 'Jump', 14.5: 'Walk', 16.5: 'Jump', 17.0: 'Walk', 19.0: 'Jump', 20.0: 'Run', 21.0: 'Run'}

>>> P2 won the race with 15 steps!
Roadmap of P2 :  {1: 'Run', 3: 'Jump', 3.5: 'Walk', 5.5: 'Jump', 7.5: 'Jump', 8.5: 'Run', 9.5: 'Run', 11.5: 'Jump', 12.5: 'Run', 14.5: 'Jump', 15.5: 'Run', 17.5: 'Jump', 19.5: 'Jump', 20.0: 'Walk', 22.0: 'Jump'}
P1 lost the race and took 16 steps!
Roadmap of P1 :  {2: 'Jump', 2.5: 'Walk', 3.5: 'Run', 5.5: 'Jump', 6.5: 'Run', 7.0: 'Walk', 9.0: 'Jump', 9.5: 'Walk', 11.5: 'Jump', 13.5: 'Jump', 14.5: 'Run', 15.0: 'Walk', 17.0: 'Jump', 18.0: 'Run', 19.0: 'Run', 21.0: 'Jump'}

>>> Its a Draw!
P1 steps : 15
Roadmap of P1 :  {2: 'Jump', 3: 'Run', 4: 'Run', 5: 'Run', 7: 'Jump', 9: 'Jump', 9.5: 'Walk', 10.5: 'Run', 11.5: 'Run', 13.5: 'Jump', 14.5: 'Run', 16.5: 'Jump', 18.5: 'Jump', 19.5: 'Run', 21.5: 'Jump'}
P2 steps : 15
Roadmap of P2 :  {1: 'Run', 3: 'Jump', 5: 'Jump', 6: 'Run', 6.5: 'Walk', 7.5: 'Run', 8.5: 'Run', 10.5: 'Jump', 12.5: 'Jump', 14.5: 'Jump', 15.0: 'Walk', 16.0: 'Run', 18.0: 'Jump', 19.0: 'Run', 21.0: 'Jump'}